:root{
    --c_blue:#2980b9;
    --dark_bleu:#141c3a;
}

body::-webkit-scrollbar{
     width:8px;
}
body::-webkit-scrollbar-track{
     background: rgba(255, 255, 255, 0.945);
}
body::-webkit-scrollbar-thumb{
    
    background: var(--c_blue);
}
@font-face
{
    font-family: audiowide;
    src:url('../fonts/Audiowide-Regular.ttf')
}

body{
   margin:0px;
   padding:0px;
   box-sizing: border-box;
   font-family: Poppins,sans-serif;
   position: relative;

}
a {
    text-decoration: none;
}

.grad_color{
    background: linear-gradient(to right, #2c3e50, #2980b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first_screen{
     width:100%;
     height:100vh;
     position: relative;
     padding-bottom: 10px;
}
.logo a{
    font-family: audiowide;
  font-weight: 550;
  font-size: 1.82rem;
   
  text-decoration: none;
}
.cover .nav .logo a{
     font-size: 1.5rem;
}

.nav{
   background:transparent;
   height:18vh;
   width:90%;
   position: absolute;
   top:0px;
}
.burger_menu{
    display: none;
}
.pop_down{
    display: none;
}
.say_hello{
    padding: 9px 17px 9px 17px;
    
    border:2px solid #2980b9;
    border-radius: 22px  ;
   
    cursor: pointer;
    
    font-weight:600;
    font-size:1rem;
    letter-spacing: 0.9px;
    transition: all .26s ease-in;
    
    
}

.say_hello:hover{
  
     
    -webkit-text-fill-color:#fff;
  background: var(--c_blue);
     color:#fff;
}

.title_bold{
     font-size: 2.6rem;
    
     font-weight:600;
     margin-top: -3%;
}
.description{
     
}
.title_small{
  
    font-size: 1.2rem;
    margin-top: 1.2rem;
    color:#0a0a0ae6;
    letter-spacing: 1.5px;
   
} 

.avatar{
     position: absolute;
     bottom:3%;
     width:200px;
     height:218px;
   
    
     border-radius:50%;
     margin-top:50px;
     /*border: 8px double #eee;*/
    background-image: url('../imgs/mf-avatar.png');
    background-size: cover;
   
    
}

.about_me{
    width:100%;
    height:70vh;
    background: #2980b9;  
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  
background: linear-gradient(to right, #2c3e50, #2980b9); 
padding-bottom: 30vh;
}
.about_title{
    font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     font-size: 2.5rem;
     color:#fff;
     letter-spacing: 1.3px;
    
     
}
.about_body{
    
     margin-top: 25px;
     font-size: 1.2rem;
     color: white;
     width:50%;
     font-family: "europa", sans-serif;
     font-weight: 300;
     line-height: 1.5;
}

.skills{
     width:92%;
     
     margin-top: -30vh;
     margin-bottom: 110px;
     z-index: 100;
     background: #fff;
     border-radius:15px;
     box-shadow: 4px 4px 15px 0 #2425261c;

}
.skill{
    flex-grow: 1;
    flex-basis: 0;
    padding: 70px 30px 67px 30px;
    


}
.skill i{
    color:var(--c_blue);
    margin-bottom: 25px;
}
.skill:nth-child(even){
    border-left: 1.4px solid #E6ECF8;
    border-right: 1.4px solid #E6ECF8;
}

.skill_title{
     color: var(--dark_bleu);
     font-weight: 600;
     font-size: 1.3rem;
     letter-spacing: 1.2px;
     text-align: center;
}
.what_skill{
    text-transform: capitalize;
   color: #2c3e50;
    margin:15px 0px 5px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1.4px;
}

.skills_list span{
    font-family: 'Montserrat', sans-serif;

   margin: 4px 0px 4px 0px;
  color: #141c3a;
  letter-spacing: 1.4px;
  
}
.works{
    width:92%;
   
    
}
.work_title{
     font-weight: 600;
     font-size: 1.6rem;
     text-transform: capitalize;
     color:var(--dark_bleu);
     margin-bottom: 65px;

}
.all_project
{
   width:100%;  
   margin-bottom: 100px;
   flex-wrap: wrap;
   
}
.project{
  width:31.35%;
  height: 250px;
  /*border :1px solid var(--c_blue);*/
  border-radius:12px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cover-project {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: #0a0a0a96;
  transition:  1s;
  border-radius:12px;

}
.project:hover .cover-project{
display: flex;
cursor: pointer;
}

.cover-project a {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cover-project a i {
    font-size: 2.2rem;
    color: white;
    transition: .5s;
}

.cover-project a i:hover{
    color: #2980b9;
}

.fa-external-link {
 margin-bottom: 1.9px;
}

#hdm {
    background-image: url('../imgs/hmd2.png');
    background-size: contain;
}



#unsp{
    background-image: url('../imgs/unsp.png');
}

#ble{
    background-image: url('../imgs/ble2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.start_project{
    height:22vh;
     width:47%;
     box-sizing: border-box;
    
    background:#fff;
    border-radius:12px;
    box-shadow: 4px 4px 24px 0 #24252621;
    margin-bottom: -11vh;
    z-index: 100;

}
.start_project .item{
     width:40%;
}
.fotter_information{
    height:70vh;
    width:100%;
    background: #2980b9;  
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  
    background: linear-gradient(to right, #2c3e50, #2980b9); 
    padding-top:13vh;
    padding-bottom: 20px;
    box-sizing: border-box;
    
}
.start_title{
     
     font-size: 1.5rem;
     font-weight: 600;
     
     text-transform: capitalize;
}
.letsTalk{
     padding:10.5px 35px 10.5px 35px;
     font-size: 1.2rem;
     letter-spacing: 1.3px;
 border-radius:35px;
 
}
.hire_me{
 color:#141c3a;
 font-size:1rem;    
}
.quates{
    width:47%;
    margin:6px 0px 5px 0px;
}
.quates span{
    width:100%;
   
     color:#fff;
     font-size: 1.18rem;
     text-align: center;
}


.quates_s
{
     width: 47%;
}
.quates_s i{
    font-size: 1.8em; 
     color:#fff;
     margin: 24px 0px 0px 0px;
}
.auteur{
    color:#fff;
    font-weight: bold;
    letter-spacing: 1.2px;

}
.social_media{
     width:22%;
height:16.5vh;
}
.social_media a{
    text-decoration: none;
    width:47px;
    height:47px;
    border-radius:50%;
    border:2px solid #ffffff4d;
    text-align: center;
    transition:all .2s ease-in;
    color:#fff;
}
.social_media a i{
   font-size: 1.4rem;
  
}
.social_media a:hover{
    background: #fff;
    

}
.social_media a:hover  i{

   color: var(--c_blue);
   animation: rotate .5s ease-in-out;
    

}
@keyframes rotate{
     0%{
           transform: rotate(0deg);
     }
     100%{
         transform: rotate(180deg);
   }
   100%{
    transform: rotate(360deg);
}
}
.foter_register{
    color:#fff;
    font-size:1.07rem;
}
.bolder{
    font-weight: bold;
}
.foter_register span i{
     margin:0px 1.2px 0px 1.2px;
     font-size:1.1rem ;
     
}

.cover{
    position: fixed;;
    top:0px;
    left:0px;
    width:100%;
    min-height:100%;
    background: #fff;
    z-index: 1000;
    display: none;
 
    padding-top:5.2vh

}
.cover .nav{
     height:16vh;
}
.show_cover{
      display: flex;
}
.stop_scroll{
     width: 100%;
     overflow: hidden;
}
.nav .fa-times{
     font-size:1.6rem;
     color: var(--c_blue);
     cursor:pointer;
}
.reach-out{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 35px;
    
}
.fa-xmark {
    color: var(--c_blue);
    font-size: 1.3rem;
    position: absolute;
    top:30px;
    right: 30px;
}
.form_contact{
    width:74%;

}
.form_contact .l_item
{
     width:100%;
     margin-bottom: 20px;
}
.form_contact .l_item .item{
    width:47.5%;
}
.form_contact input{
    height: 7.5vh;
   
  
   

}
.item label,.l_item label{
     margin-bottom: 7px;
     color:#8a8989;
     font-size: 1.14rem;
     letter-spacing: 1.15px;
     cursor:pointer;
}
#name,#email,#msg{
     border:1px solid #cfd9ecbf;
     border-radius:5px;
     outline:none;
     padding-left: 15px;
     box-sizing: border-box;
     font-size: 1.1rem;
     width:100%;
}
#msg{
    padding-top: 15px;
}
#send{
    background:transparent;
     font-size: 1.17rem;
     margin-top: 10px;
     letter-spacing: 1.25px;
     text-align: center;
     padding:13px 50px 13px 50px;
     border:2px solid var(--c_blue);
     transition: all .26s ease-in;
     color:var(--c_blue);
     border-radius: 22px;
     cursor: pointer;
     outline: none;
     font-weight: 600;

}
#send:hover{
    color:#fff;
    background: var(--c_blue);
}
.all_def{
     /*animation:frombottom .8s ease-in-out;*/
}

@keyframes frombottom{
    0%{
         position: absolute;
         top:100vh;
   }
   50%{
       top:50vh;
 }
 100%{
  top:19.5vh;
}
}
.header_custum {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links {

    width: 14vh;
    position: fixed;
    top: 50%;
    right: -3px;
    min-height: 47vh;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: none;
}
.links .link-item {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}
.link-item i {
    cursor: pointer;
    font-size: 2rem;
    color: var(--c_blue);
}

.App {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-react {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.footer_section {
    font-family: Poppins,sans-serif;
}
.git-a{
    margin-right: 10px;
}
